.book {
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url("../img/background/book/book-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/book/book-desktop@2x.jpg");
  }

  @media (max-width: $tablet-breakpoint) {
    background-image: url("../img/background/book/book-tablet.jpg");
    background-position: center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/book/book-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/background/book/book-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/book/book-mobile@2x.jpg");
    }
  }
}

.book__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1246px;

  @media (max-width: $tablet-breakpoint) {
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px;
    padding-top: 96px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 65px 15px;
  }
}

.book__title-text {
  margin-right: 20px;

  & p {
    margin: 0;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    text-align: center;

    & p {
      max-width: 352px;
      margin: 0 auto;
      margin-top: 14px;
      margin-bottom: 52px;
    }
  }
}

.book__title {
  margin: 0;
  color: $color-tangaroa;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 34px;
    line-height: 34px;
  }
}

.book__form {
  width: 403px;
  flex-shrink: 0;

  @media (max-width: $mobile-breakpoint) {
    width: auto;
    margin: 0 auto;
  }
}
