.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--footer {
    justify-content: flex-start;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-wrap: wrap;

    &--js {
      & .logo-menu__logo path {
        fill: $color-alice-blue;
      }

      & .logo-menu__menu-toggle {
        display: block;
      }
    }

    & .logo-menu__menu {
      display: none;
    }

    &--is-opened {
      & .logo-menu__logo path {
        fill: $color-tangaroa;
      }

      & .logo-menu__menu {
        display: block;
      }
    }
  }
}

.logo-menu__menu {
  @media (max-width: $mobile-breakpoint) {
    margin-top: 33px;
    flex-basis: 100%;
  }
}

.logo-menu__logo-image {
  display: block;
  width: 70px;
  height: 38px;

  @media (max-width: $tablet-breakpoint) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 42px;
    height: 22px;

    & path {
      fill: $color-tangaroa;
    }
  }
}

.logo-menu__menu-toggle {
  display: none;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  &--is-opened {
    & .logo-menu__menu-toggle-icon--open {
      display: none;
    }
  }

  &--is-closed {
    & .logo-menu__menu-toggle-icon--close {
      display: none;
    }
  }
}
