.page-header {
  background-color: $color-transparent;
  position: absolute;
  width: 100%;
  top: 0;
  flex: 0 0 auto;

  @media (max-width: $mobile-breakpoint) {
    background-color: $color-alice-blue;
    position: static;

    &--js {
      position: absolute;
      background-color: $color-transparent;
    }

    &--is-opened {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 285px;
      background-color: $color-alice-blue;
      z-index: 5;
    }
  }
}

.page-header__container {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
