a {
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  align-content: start;
  background-color: $color-default-white;
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-width: 320px;
}
