.promo {
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 283px 198px;
  background-image: url("../img/background/promo/promo-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/promo/promo-desktop@2x.jpg");
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 280px 45px;
    background-image: url("../img/background/promo/promo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/promo/promo-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 185px 15px;
    background-image: url("../img/background/promo/promo-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/promo/promo-mobile@2x.jpg");
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-trans-25;

  @media (max-width: $tablet-breakpoint) {
    font-size: 50px;
    line-height: 61px;
  }
}

.promo__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-trans-25;

  @media (max-width: $tablet-breakpoint) {
    font-size: 18px;
    line-height: 22px;
  }
}
