.social {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 28px;
  flex-shrink: 0;

  @media (max-width: $tablet-breakpoint) {
    column-gap: 23px;
  }

  @media (max-width: $mobile-breakpoint) {
    justify-content: flex-start;
    flex-basis: 100%;
  }
}

.social__link-icon {
  display: block;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.15;
  }

  &--facebook {
    width: 11px;
    height: 20px;
  }

  &--instagram {
    width: 21px;
    height: 20px;
  }

  &--twitter {
    width: 20px;
    height: 17px;
  }

  @media (max-width: $tablet-breakpoint) {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}
