.container {
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  @media (max-width: $tablet-breakpoint) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}
